:root {
  --white: #fff;
  --accent-color: #b5838d;
  --dark-accent-color: #a6757f;
  --main-color: #6d6875;
  --dark-main-color: #56505f;
}

body {
  background: rgb(255, 180, 162);
  background: linear-gradient(
    90deg,
    rgba(255, 180, 162, 1) 0%,
    rgba(255, 180, 162, 1) 53%,
    rgba(229, 152, 155, 1) 100%
  );
  color: var(--main-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 5;
  outline: 0;
  padding: 15px;
  width: 70%;
  background-color: #e8eeef;
  color: green;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

h1,
a {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

button {
  
  color: var(--white);
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  border-width: 0px;
  text-transform: uppercase;
}

input {
  padding: 1em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: var(--white);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 
}

.signup {
  background-color: var(--accent-color);
    font-size: 10px;
}
.signup:hover {
  background-color: var(--dark-accent-color);
}

.login {
  background-color: var(--main-color);
   font-size: 10px;
}

.login:hover {
  background-color: var(--dark-main-color);
}

.disclaimer {
  font-size: 0.9em;
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--dark-main-color);
}
